.card-body p,
.card-body ul {
  height: 100% !important;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.fine-search {
  max-width: 50%;
}
.fine-search-input::placeholder {
  color: #ffffff;
  opacity: 50%;
}
